{
  "openapi": "3.0.0",
  "info": {
    "title": "G42 Daily Media Intelligence API",
    "version": "1.0.0",
    "description": "Generate the G42 Daily Media Intelligence PDF (16+ pages). Session-based incremental data loading. Flow: POST /start -> POST /update (any number of times) -> POST /generate -> returns PDF download URL. Permanent PDF storage (no TTL). PDFs accessible via GET /download/{id}."
  },
  "servers": [
    { "url": "https://serverless.on-demand.io/apps/g42-report" }
  ],
  "paths": {
    "/g42-report/start": {
      "post": {
        "operationId": "startSession",
        "summary": "Start or reset a G42 report session",
        "description": "Initialize a new session. If sessionId exists, the session is reset (previous data cleared).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["sessionId"],
                "properties": {
                  "sessionId": { "type": "string", "description": "Unique session identifier (e.g. 'g42-2026-04-16')." }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session started or reset",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": { "type": "string" },
                    "sessionId": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/g42-report/update": {
      "post": {
        "operationId": "updateReportData",
        "summary": "Upload report data (deep-merges into session)",
        "description": "Upload any subset of report fields. Call multiple times to build up the report incrementally. Arrays get appended; objects deep-merge. All fields optional except sessionId.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["sessionId"],
                "properties": {
                  "sessionId": { "type": "string" },
                  "report_title": { "type": "string", "description": "Header title, default 'Daily Media Intelligence'" },
                  "report_subtitle": { "type": "string" },
                  "report_date": { "type": "string", "description": "Short date, e.g. '16 APR 2026'" },
                  "report_date_long": { "type": "string", "description": "Long date, e.g. 'Thursday, April 16, 2026'" },
                  "report_id": { "type": "string" },
                  "classification": { "type": "string", "enum": ["CONFIDENTIAL", "UNCLASSIFIED", "INTERNAL"] },
                  "coverage_window": { "type": "string", "description": "e.g. 'Media headlines from April 15, 2026, at 5:30 PM EST'" },
                  "published_at": { "type": "string" },
                  "analyst": { "type": "string" },
                  "org_name": { "type": "string" },
                  "key_stats": {
                    "type": "array",
                    "description": "Cover-page stat cards",
                    "items": {
                      "type": "object",
                      "properties": {
                        "value": { "type": "string" },
                        "label": { "type": "string" },
                        "sub": { "type": "string" },
                        "type": { "type": "string", "enum": ["positive", "negative", "neutral", "gold"] }
                      }
                    }
                  },
                  "sentiment": {
                    "type": "object",
                    "description": "Cover-page overall sentiment (drives donut chart)",
                    "properties": {
                      "positive": { "type": "integer" },
                      "neutral": { "type": "integer" },
                      "negative": { "type": "integer" }
                    }
                  },
                  "executive_summary": {
                    "type": "array",
                    "items": { "type": "string" },
                    "description": "1-3 paragraphs of executive summary"
                  },
                  "top_takeaways": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "label": { "type": "string" },
                        "text": { "type": "string" }
                      }
                    }
                  },
                  "sheikh_tahnoon": {
                    "type": "object",
                    "description": "Dedicated spotlight section for H.H. Sheikh Tahnoon bin Zayed Al Nahyan",
                    "properties": {
                      "total_mentions": { "type": "integer" },
                      "reach": { "type": "string" },
                      "tier1_mentions": { "type": "integer" },
                      "sentiment_score": { "type": "string" },
                      "mentions": { "type": "array", "items": { "$ref": "#/components/schemas/Mention" } },
                      "analyst_note": { "type": "string" }
                    }
                  },
                  "g42_executives": {
                    "type": "array",
                    "description": "G42 executives discovered at runtime (agent-populated)",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": { "type": "string" },
                        "title": { "type": "string" },
                        "mention_count": { "type": "integer" },
                        "tier1_count": { "type": "integer" },
                        "sentiment": { "type": "string" },
                        "mentions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "outlet": { "type": "string" },
                              "headline": { "type": "string" },
                              "url": { "type": "string" }
                            }
                          }
                        }
                      }
                    }
                  },
                  "g42_corporate": {
                    "type": "object",
                    "properties": {
                      "mentions": { "type": "array", "items": { "$ref": "#/components/schemas/Mention" } }
                    }
                  },
                  "portfolio_companies": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": { "type": "string" },
                        "sector": { "type": "string" },
                        "description": { "type": "string" },
                        "mention_count": { "type": "integer" },
                        "sentiment": { "type": "string" },
                        "top_story": { "type": "string" }
                      }
                    }
                  },
                  "linkedin_coverage": { "$ref": "#/components/schemas/PlatformCoverage" },
                  "x_coverage": { "$ref": "#/components/schemas/PlatformCoverage" },
                  "instagram_coverage": { "$ref": "#/components/schemas/PlatformCoverage" },
                  "youtube_coverage": { "$ref": "#/components/schemas/PlatformCoverage" },
                  "news_coverage": { "$ref": "#/components/schemas/PlatformCoverage" },
                  "ai_policy_leaders": {
                    "type": "object",
                    "description": "External AI figures (Jensen Huang, Demis Hassabis, Sam Altman etc.)",
                    "properties": {
                      "title": { "type": "string" },
                      "description": { "type": "string" },
                      "entities": { "type": "array", "items": { "$ref": "#/components/schemas/DigestEntity" } }
                    }
                  },
                  "partners_peers": {
                    "type": "object",
                    "description": "OpenAI, Microsoft, NVIDIA, AMD, Amazon, xAI plus cross-company buckets like 'Microsoft and NVIDIA'",
                    "properties": {
                      "title": { "type": "string" },
                      "description": { "type": "string" },
                      "entities": { "type": "array", "items": { "$ref": "#/components/schemas/DigestEntity" } }
                    }
                  },
                  "industry_news": {
                    "type": "object",
                    "description": "Artificial Intelligence, ESG/Sustainability, AI in Sports, etc.",
                    "properties": {
                      "title": { "type": "string" },
                      "description": { "type": "string" },
                      "categories": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "name": { "type": "string" },
                            "mentions": { "type": "array", "items": { "$ref": "#/components/schemas/DigestMention" } }
                          }
                        }
                      }
                    }
                  },
                  "markets": {
                    "type": "object",
                    "description": "Regional coverage - USA, UAE, US-China Relations, Europe, India, GCC/Saudi Arabia, Africa",
                    "properties": {
                      "title": { "type": "string" },
                      "description": { "type": "string" },
                      "regions": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "name": { "type": "string" },
                            "mentions": { "type": "array", "items": { "$ref": "#/components/schemas/DigestMention" } }
                          }
                        }
                      }
                    }
                  },
                  "sentiment_analysis": {
                    "type": "object",
                    "description": "Dedicated sentiment deep-dive page with by-platform and by-topic breakdowns",
                    "properties": {
                      "title": { "type": "string" },
                      "description": { "type": "string" },
                      "positive": { "type": "integer" },
                      "neutral": { "type": "integer" },
                      "negative": { "type": "integer" },
                      "by_platform": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "name": { "type": "string" },
                            "positive": { "type": "integer" },
                            "neutral": { "type": "integer" },
                            "negative": { "type": "integer" }
                          }
                        }
                      },
                      "by_topic": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "name": { "type": "string" },
                            "positive": { "type": "integer" },
                            "neutral": { "type": "integer" },
                            "negative": { "type": "integer" }
                          }
                        }
                      },
                      "trending_topics": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "topic": { "type": "string" },
                            "sentiment": { "type": "string" },
                            "volume": { "type": "string" }
                          }
                        }
                      },
                      "analyst_note": { "type": "string" }
                    }
                  },
                  "sources": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "title": { "type": "string" },
                        "text": { "type": "string" },
                        "url": { "type": "string" }
                      }
                    }
                  },
                  "methodology": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Data merged into session",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": { "type": "string" },
                    "updatedKeys": { "type": "array", "items": { "type": "string" } },
                    "totalKeys": { "type": "integer" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/g42-report/generate": {
      "post": {
        "operationId": "generateReport",
        "summary": "Generate the PDF from accumulated session data",
        "description": "Renders the G42-branded PDF, stores permanently, returns the download URL.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["sessionId"],
                "properties": { "sessionId": { "type": "string" } }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "PDF generated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": { "type": "string" },
                    "url": { "type": "string", "description": "Permanent PDF download URL" },
                    "pdfId": { "type": "string" },
                    "pages": { "type": "integer" },
                    "permanent": { "type": "boolean" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/g42-report/download/{id}": {
      "get": {
        "operationId": "downloadReport",
        "summary": "Download a previously generated PDF (permanent)",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "description": "PDF ID returned by /generate endpoint", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "PDF binary",
            "content": { "application/pdf": { "schema": { "type": "string", "format": "binary" } } }
          }
        }
      }
    },
    "/g42-report/list": {
      "get": {
        "operationId": "listReports",
        "summary": "List all historical G42 reports",
        "responses": {
          "200": {
            "description": "List of stored PDFs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": { "type": "integer" },
                    "reports": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "string" },
                          "size": { "type": "integer" },
                          "created": { "type": "string" }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Mention": {
        "type": "object",
        "properties": {
          "source": { "type": "string", "description": "Outlet name (Reuters, Bloomberg, LinkedIn, X, etc.)" },
          "title": { "type": "string" },
          "snippet": { "type": "string" },
          "url": { "type": "string" },
          "timestamp": { "type": "string" },
          "sentiment": { "type": "string", "enum": ["Positive", "Neutral", "Negative"] },
          "impact": { "type": "string", "description": "e.g. 'Tier 1', 'Tier 2'" },
          "engagement": {
            "type": "object",
            "properties": {
              "reach": { "type": "string" },
              "shares": { "type": "string" },
              "comments": { "type": "string" }
            }
          }
        }
      },
      "DigestMention": {
        "type": "object",
        "description": "Agency-style digest item: outlet + hyperlinked title + date (+ optional context)",
        "properties": {
          "outlet": { "type": "string" },
          "title": { "type": "string" },
          "url": { "type": "string" },
          "date": { "type": "string", "description": "e.g. 'April 15, 2026'" },
          "context": { "type": "string", "description": "Optional 1-2 sentence blurb" }
        }
      },
      "DigestEntity": {
        "type": "object",
        "description": "Named bucket (person or company) inside AI & Policy Leaders / Partners & Peers",
        "properties": {
          "name": { "type": "string", "description": "e.g. 'Jensen Huang', 'OpenAI', 'Microsoft and NVIDIA'" },
          "mentions": { "type": "array", "items": { "$ref": "#/components/schemas/DigestMention" } }
        }
      },
      "PlatformCoverage": {
        "type": "object",
        "description": "Social/editorial platform coverage (LinkedIn, X, Instagram, YouTube, Tier-1 News)",
        "properties": {
          "title": { "type": "string" },
          "subtitle": { "type": "string" },
          "total_posts": { "type": "integer" },
          "reach": { "type": "string" },
          "engagement": { "type": "string" },
          "sentiment_summary": { "type": "string" },
          "posts": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "author_name": { "type": "string" },
                "author_handle": { "type": "string" },
                "author_role": { "type": "string" },
                "author_is_g42": { "type": "boolean" },
                "verified": { "type": "boolean" },
                "timestamp": { "type": "string" },
                "content": { "type": "string" },
                "likes": { "type": "integer" },
                "reposts": { "type": "integer" },
                "comments": { "type": "integer" },
                "views": { "type": "integer" },
                "shares": { "type": "integer" },
                "url": { "type": "string" },
                "sentiment": { "type": "string" }
              }
            }
          },
          "analyst_note": { "type": "string" }
        }
      }
    }
  }
}
